<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-white-900 ">
        <div class="h-screen w-full bg-[url(https://images.unsplash.com/photo-1579781354199-1ffd36bd7d30?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)] bg-center bg-cover h-screen w-full py-24 px-20 ">
            <h2 class="text-green-600 text-3xl font-semibold ">Register</h2>
     <form class="py-9 w-[30%] backdrop-blur-3xl px-12   ml-[30%] " action="/register" method="post">
     <input class="text-black rounded-md px-2 py-1 outline-none" type="text" placeholder="name" name="name"> <br> <br>
     <input class="text-black rounded-md px-2 py-1 outline-none" type="text" placeholder="username" name="username"> <br> <br>
     <input class="text-black rounded-md px-2 py-1 outline-none" type="email" placeholder="email" name="email"><br> <br>
     <input class="text-black rounded-md  px-2 py-1 outline-none " type="password" placeholder="password" name ="password"><br> <br>
      <input  class="text-black rounded-md  px-2 py-1 outline-none"  type="number" placeholder="age" name="age"><br> <br>
<input class="text-black rounded-md px-5 py-1 mt-8 ml-10 bg-blue-500" type="submit" value="create"><br> <br>
    </form>
        </div>
     
    </div>
</body>
</html>