<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 py-10 px-5">
     <h2 class="text-green-600 text-3xl font-semibold mt-2">Register</h2>
     <form class="py-5" action="register" method="post">
     <input class="text-black rounded-lg px-2 py-1 outline-none" type="text" placeholder="username",name ="username">
     <input class="text-black rounded-lg px-2 py-1 outline-none" type="text" placeholder="username",name ="username">
     <input class="text-black rounded-lg px-2 py-1 outline-none" type="email" placeholder="email",name ="uemail">
     <input class="text-black rounded-lg  px-2 py-1 outline-none " type="password" placeholder="password",name ="password">
      <input  class="text-black rounded-lg  px-2 py-1 outline-none"  type="number" placeholder="age" name="age">
<input class="text-black rounded-lg px-3 py-1 bg-blue-500" type="submit" value="create">
    </form>
    </div>
</body>
</html>