<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-800 py-5">
     <h2 class="text-green-600 text-3xl font-semibold py-5 ">login your account</h2>
     <form action="/login" method="post">
     <input class="text-black rounded-md bg-black-100 py-1  px-2  outline-none" type="email" placeholder="email",name ="email">
     <input class="text-black rounded-md  bg-black-100 py-1  px-2  outline-none " type="password" placeholder="password",name ="password">
     <input class="text-black rounded-lg px-3 py-1 bg-blue-500" type="submit" value="create Account ">
 
    </form>
    </div>
</body>
</html>